/* Universal Selector */
* {
    margin:0;
    padding:0;  
}

/* Element Selectors */
body {
    font-family: sans-serif;
}

header div{
    display: flex;
    background-color:rgb(50, 53, 68);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    width: 100%;
    justify-content: space-between;
}

header div nav ul{
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  gap: 25px;
  padding-top: 15px;
}

header div nav ul li {
    display: flex;
    border-bottom: 3px solid turquoise;
    padding: 5px;
    margin-top: 10px;
    align-items: center;
}

header div nav ul li a {
    display: flex;
    text-decoration: none;
    color: turquoise;
    font-size: small;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    display: flex;
    color: rgb(50, 53, 68);
    background: turquoise;
    padding-left: 100px;
    padding-right: 5px;
    margin-right: 50px;
}

h2{
  background:turquoise;
  color: rgb(50, 53, 68);
  padding:3px 5px 3px 5px;
  display:inline-block;
  margin-left:10px;
  margin-right: 40px;
  margin-bottom: 15px;
}

footer{
    display: flex;
    justify-content: space-between;
    gap: 120px;
    color: turquoise;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer a{
    color: rgb(18, 75, 121);
    border-bottom: 3px solid turquoise;
    text-decoration: none;
}

footer h3{
    color: rgb(18, 75, 121);
    text-align: right;
}

footer p {
    color: rgb(18, 75, 121);
}

/* ID Selectors */
#about-me {
    display: flex;
    padding-bottom: 50px;
    
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* Class Selectors */

.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
  }

.subtitle {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image:url("../images/pexels-pixabay-164425.jpg");
    background-size: 800px;
}


.logo, nav {
    flex: 1;
}
.logo{
    display: flex;
      margin: 10px 0px 0px 0px;
}

.side {
    flex: 0 0 22.6%;
}

.side h3{
    display: flex;
    border-right: 4px solid rgb(18, 75, 121);
    height: 170px;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 50px;
    color: rgb(18, 75, 121);
    margin-left:10px;
    margin-right:10px;
    font-size: 4vw;

}

.selfie{
    max-width:10%;
    height:50%;
    float: left;
    margin: 5px 10px 10px 20px;
}

.about-photo{
    padding-left: 0px;
    padding-right: 70px;
    margin-right: 55px;
    text-align: justify;
    justify-content: flex-end;
}

.side-work {
    flex: 0 0 20%;
    border:3px; 
    border-right:solid; 
    border-color:rgb(18, 75, 121); 
    height: 480px;
    padding-bottom: 50px;
    padding-right: 0px;
    color: rgb(18, 75, 121);
    margin-left:90px;
    margin-right:25px;
}

.side-work h3 {
    padding-left: 10px;
    
}
  

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
  
  .page-section > h3 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid rgb(18, 75, 121);
    font-size: 4vw;
    line-height: 1.1;
    color: rgb(18, 75, 121);
  }
  
  .page-section > div {
    flex: 0 0 77%;
  }
  
  .page-section p {
    margin-bottom: 20px;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .flex-item {
    background-color: rgba(68, 88, 119, 1);
    color: whitesmoke;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
  }
  
  /* feature first portfolio item */
  .flex-item:first-child {
      min-height: 400px;
      flex-basis: 100%;
  }
  
  .flex-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .flex-item div {
    background-color: var(--secondary);
    padding: 8px 10px;
  }
  
  .flex-item h3 {
    font-size: 1.6rem;
  }

  /* portfolio project images */
  .Horiseon {
    background-image: url("../images/Screen\ Shot\ 2021-10-04\ at\ 12.26.50\ PM.png");
  }
  
  .Perfect-Pet-Placer {
    background-image: url("../images/Screen\ Shot\ 2021-10-04\ at\ 12.23.41\ PM.png");
  }
  
  .Password-Generator {
    background-image: url("../images/Screen\ Shot\ 2021-10-04\ at\ 1.25.26\ PM.png");
  }
  
  .pastel-puzzles {
    background-image: url("../images/02-portfolio-3.jpg");
  }
  
  .surf-report {
    background-image: url("../images/02-portfolio-4.jpg");
  }
  
  /* end portfolio project images */

  @media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    header nav {
      justify-content: center;
    }
  
    .page-section > h2,
    .page-section > div {
      flex: 0 0 100%;
    }
  
    .page-section > h3 {
      border-right: none;
      border-bottom: 4px solid var(--primary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vw;
    }
  }
  
  @media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
      flex-basis: 100%;
    }
  
    .flex-item:first-child {
      min-height: 150px;
    }
  
    .hero-banner {
      justify-content: center;
      text-align: center;
    }
  
    #contact {
      flex-direction: column;
      align-items: flex-start;
    }
  }